<div class="list-group">
  {{#each todos}}
    <a href="/todo/{{id}}" class="list-group-item list-group-item-action">{{title}}</a>
  {{/each}}
</div>
<br/>

<a role="button" class="btn btn-primary" href="/todo/new">
   Add New
</a>
